.DS_Store
node_modules/
.angular/
dist/
releases/
package-lock.json
.vscode/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/tracing/
/electron/*.js
/electron/*.map
/electron/handlers/**/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test