<h1 mat-dialog-title>{{ "knowledge.new_knowledge" | translate }}</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>{{ "knowledge.base_name" | translate }}</mat-label>

        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill">


        <mat-label>{{ "knowledge.author" | translate }}</mat-label>
        <input matInput [(ngModel)]="data.author">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>{{ "knowledge.category" | translate }}</mat-label>
        <mat-select [(ngModel)]="data.category">
            <mat-option value="cookie">{{ "entries.cookie" | translate }}</mat-option>
            <mat-option value="localstorage">{{ "entries.local_storage" | translate }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{ "entries.cancel" | translate }}</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{ "entries.create" | translate }}</button>
</div>