<ng-container *ngIf="card.requests['thirdParty']">
    <h2>{{ "cards.traffic.resquested_hosts" | translate }} ({{card.requests['thirdParty'].length}})</h2>
<table  matSort (matSortChange)="sortData($event)" style="width: 100%">
    <colgroup>
      <col span="1" style="width: 100%;">
    </colgroup>
    <thead>
      <tr>
        <th mat-sort-header="domain">{{ "knowledge.domain" | translate }}</th>
      </tr>
    </thead>
    <tbody #tableContent>
      <tr *ngFor="let line of card.requests['thirdParty']; index as idx">
        <td class="truncate">{{line}}</td>
      </tr>
    </tbody>
  
  </table>
</ng-container>